#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 100%;
}
#container1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#container1 > .questionAll {
  width: 95%;
  height: 100%;
}

.questionAll > p {
  margin: 10px;
}
#controls {
  display: inline;
  height: fit-content;
}
#container > #controls2 {
  align-self: baseline;
  margin: 20px 10px;
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: cornflowerblue;
  border-radius: 10px;
}

.isSelected {
  background-color: aqua;
}
.notSelected {
  background-color: blueviolet;
}
